﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,400,600|Manrope:600" rel="stylesheet">
    <link rel="stylesheet" href="~/css/layout.css">
    <title>Home</title>
</head>
<body>
    <div class="container-fuild">
        <div class="header">
            <div class="navbar_action">
                <div class="manager_user">
                    <a class="icon_notification" href="#"> <i class="fa-regular fa-bell"></i> </a>
                    <a class="user" href="#">
                        <div class="avatar">
                            @* <img class="img" src="~/FBT_Image/Avatar/HS00000000.jpeg" alt="Avatar"> *@
                        </div>
                        <div class="text_avatar">
                            Admin <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </a>
                </div>
                <div class="logout_form">
                    <a class="logout" asp-controller="Logout" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất </a>
                </div>
            </div>
        </div>
        <div class="navbar_menus">
            <a class="logo" href="#"><img src="~/img/Avatar/Logo_ High School Contact.png" alt="Logo" srcset=""></a>
            <div class="menus">
                <div class="menu">
                    <a class="menu1" href="#">
                        <i class="fa-solid fa-pen-to-square"></i> Quản lý Account
                    </a>
                </div>
                <div class="menu">
                    <a class="menu1" asp-controller="Admin" asp-action="ManagerTimeTable">
                        <i class="fa-solid fa-calendar-days"></i> Quản lý thời khoá biểu
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>