@model FBT.Models.PersonInformation

@{
    ViewData["Title"] = "Edit Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Cập Nhật Account</h1>

<form asp-controller="Admin" asp-action="Edit" method="post" style="padding: 20px">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" type="hidden" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Fullname" class="control-label"></label>
        <input asp-for="Fullname" class="form-control" />
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        <select asp-for="Gender" class="form-control">
            <option value="true">Male</option>
            <option value="false">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Dob" class="control-label"></label>
        <input asp-for="Dob" class="form-control" />
        <span asp-validation-for="Dob" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlaceOfBirth" class="control-label"></label>
        <input asp-for="PlaceOfBirth" class="form-control" />
        <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlaceOfResidence" class="control-label"></label>
        <input asp-for="PlaceOfResidence" class="form-control" />
        <span asp-validation-for="PlaceOfResidence" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Ethnic" class="control-label"></label>
        <input asp-for="Ethnic" class="form-control" />
        <span asp-validation-for="Ethnic" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Religion" class="control-label"></label>
        <input asp-for="Religion" class="form-control" />
        <span asp-validation-for="Religion" class="text-danger"></span>
    </div>

    <div>
        <label for="Password" class="">Password</label>
        <input id="Password" name="Password" class="form-control" value="@ViewData["Password"]" />
        <span asp-validation-for="Account.Password" class="text-danger"></span>
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width:150px;">Cập Nhật</button>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary" style="width: 150px">Quay Về</a>
    </div>


</form>