@model Account
@{
    // Set the Layout attribute to null.
    ViewBag.Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/forgetpassword.css">
    <title>ForgetPassword</title>
</head>
<body>
    <div class="container-fluid">
        <div class="frame_authorization">
            <form method="post" class="send_code">
                <div class="logo">
                    <img class="Background" src="~/img/Avatar/Background_Logo.png" alt="Background">
                    <img class="Logo_HSC" src="~/img/Avatar/Logo_ High School Contact.png" alt="Logo">
                </div>
                <h4>Tài Khoản ID</h4>
                <label for="" class="lable_AccountID">
                    <p>Tài Khoản ID</p>
                    <input type="text" asp-for="AccountId" class="AccountID" placeholder="Nhập ID">
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </label>
                <button type="submit">Gửi Mã</button>
            </form>
            <form method="post" asp-action="ForgetPasswordConfirm" class="confirm_code">
                <h4>Xác Nhận Mật Khẩu</h4>
                <label for="" class="lable_code">
                    <p>Mã Xác Nhận</p>
                    <input type="text" name="code" class="code" placeholder="Nhập mã xác nhận">
                </label>
                <button type="submit">Xác Nhận</button>
            </form>
        </div>
    </div>
</body>
</html>