@model Account
@{
    // Set the Layout attribute to null.
    ViewBag.Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <form method="post" class="login_form">

            <div class="logo row">
                <img src="~/img/Avatar/Logo_ High School Contact.png" alt="Logo">
            </div>
            <div class="login_field">
                <label asp-for="AccountId" class="id" for="id">
                    <h6 class="text_id">ID</h6>
                    <input asp-for="AccountId" class="input_id" type="text" name="AccountId">
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </label>
                <label asp-for="Password" class="password" for="password">
                    <h6 class="text_password">Mật khẩu</h6>
                    <input asp-for="Password" class="input_password" type="password" name="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </label>
                <button class="button_login" type="submit">Đăng nhập</button>
                <a asp-controller="Login" asp-action="ForgetPassword" class="forget_password">Quên mật khẩu</a>
            </div>
        </form>
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>