<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/resetpassword.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="container-fluid">
        <div class="frame_authorization">
            <div class="send_code">
                <div class="logo">
                    <img class="Background" src="~/img/Shared/Background_Logo.png" alt="Background">
                    <img class="Logo_HSC" src="~/img/Shared/Logo_ High School Contact.png" alt="Logo">
                </div>
            </div>
            <form method="post" class="confirm_code">
                <h4>Tạo mật khẩu mới</h4>
                <label for="" class="lable_code">
                    <p>Mật khẩu</p>
                    <input type="text" name="password" id="code" class="code" placeholder="Nhập mật khẩu">
                </label>
                <label for="" class="lable_code">
                    <p>Xác nhận mật khẩu</p>
                    <input type="text" name="confirmpassword" id="code" class="code" placeholder="Nhập lại mật khẩu">
                </label>
                <button type="submit">Đổi Mật Khẩu</button>
            </form>
        </div>
    </div>
</body>
</html>